.section-articles {
  padding-bottom: 70px;
  background-color: var(--background-secondary-color);

  &__articles-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__article {
    cursor: pointer;
    max-width: 390px;

    &:hover > h2,
    &:hover > p {
      color: var(--secondary-color);
      transition: 0.2s ease-in-out;
    }
  }
}

.article {
  &__title {
    margin-top: 30px;
    font-family: var(--title-font-family);
    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph {
    display: flex;
  }
  &__img {
    height: 100%;
    max-height: 360px;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
}

@media (min-width: 1801px) {
  .section-articles__article{
    img {
      width: 100%;
    }
  }
}
@media (max-width: 1800px) {
  .section-articles__article {
    width: 24.5%;
     img {
       width: 100%;
       max-height: 350px;
     }
  }
}

@media (max-width: 1190px) {
  .article__title {
    margin-top: 20px;
  }
  .section-articles__article {
    img {
      max-height: 250px;
    }
  }
}

@media (max-width: 990px) {
  .section-articles {
    &__article {
      width: 48%;
      margin-bottom: 50px;
    }

    &__articles-wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .article {
    &__title {
      margin-top: 15px;
    }

    &__img {
      margin: 0 auto;
    }
  }
  .section-articles__article {
    img {
      max-height: 360px;
    }
  }
}

@media (max-width: 575px) {
  .section-articles {
    &__article {
      width: 100%;
    }
  }
}
